<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar usuario..."
          #txtTermino
          (keyup)="buscar(txtTermino.value)"
        />
      </div>
    </div>
  </div>
</div>

<div *ngIf="cargando" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <p class="fa fa-spin fa-refresh fa-2x"></p>
      <p>Por favor espere</p>
    </div>
  </div>
</div>

<div *ngIf="!cargando" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div style="position: absolute; right: 15px;" class="text-right">
          <button (click)="abrirSweetAlert()" class="btn btn-primary">
            <i class="fa fa-hospital-o"></i> Crear Hospotal
          </button>
        </div>
        <h4 class="card-title">Hospitales ({{ hospitales.length }})</h4>
        <h6 class="card-subtitle">
          Hospitales registrados en mi aplicacion
        </h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="text-center">
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100 text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td class="text-center">
                  <img
                    (click)="abrirModal(hospital)"
                    [src]="hospital.img | imagen: 'hospitales'"
                    [alt]="hospital.nombre"
                    class="avatar cursor"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre del hospotal"
                    [(ngModel)]="hospital.nombre"
                  />
                </td>

                <td class="text-nowrap text-center">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Guardar Cambios"
                    class="cursor"
                    (click)="guardarCambios(hospital)"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Borrar"
                    (click)="eliminarCambios(hospital)"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- <button class="btn btn-secondary">Anterior</button>
        &nbsp;
        <button class="btn btn-secondary">Siguientes</button> -->
      </div>
    </div>
  </div>
</div>
